<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Information</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>Title</td><td><%=record.title%></td>
      </tr>
      <tr>
        <td>Author</td><td><%=record.author%></td>
      </tr>
      <tr>
        <td>Publisher</th><td><%=record.publisher%></td>
      </tr>
      <tr>
        <td>Price</th><td><%=record.price%></td>
      </tr>
      <tr>
        <td>Publish Date</th><td><%=record.publishdate%></td>
      </tr>
    </table>
  </body>
</html>
